[submodule "app-server/node-api"]
	path = app-server/node-api
	url = https://github.com/starlightgroup/node-api.git
[submodule "app-server/flashlightsforever"]
	path = app-server/flashlightsforever
	url = https://github.com/starlightgroup/flashlightsforever.git
